// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body{
    .add-invoice-line{
        background-color: #6cb2eb;
        border-color: #6cb2eb;
        border-radius: 50%;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        margin: 10px auto;
    }
}
